body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2; 
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-container {
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
	position: relative;
	background-color: #ffffff;
}

.main-navigation {
	padding: 0 6%;
	line-height: 26px;
}

.site-menu,
.reasons-list,
.reasons-photo,
.footer-social {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1200px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.menu-item	{
	padding: 15px 0;
 	-ms-flex-preferred-size: 20%;
 	    flex-basis: 20%;
}

.menu-item:nth-child(3) {
	margin-left: 11%;
	text-align: right;
}

.menu-item:nth-child(4) {
	text-align: right;
}

.main-header-logo {
	display: block;
	width: 138px;
	height: 70px;
	position: absolute;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	left: 50%;
	z-index: 100;
}

.site-menu a[href] {
	color: #000000;
	cursor: pointer;
}

.site-menu a[href]:hover,
.site-menu a[href]:focus {
	color: #81b3d2;
}

.site-menu a[href]:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-menu .menu-link-active {
	color: #766357;
}

.container {
	display: block;
	background-color: #ffffff;
	text-align: center;
}

.mountains {
	position: relative;
	width: 100%;
	padding-top: 76px;
	padding-bottom: 75px;
	margin-bottom: 59px;
	background-image: 
		url("../img/bg-white.png"), 
		url("../img/bg-mountain.jpg");
	background-position: bottom center, center -55px;
	background-repeat: no-repeat;
	background-color: #68757a;
	background-size: 100%, auto;
}

.container-intro {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.sedona-title {
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
}

.sedona-text {
	font-weight: 400;
	color: #333333;
	line-height: 26px;
}

.reasons-photo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

.container-text {
	margin: 46px auto 0 auto;
	max-width: 69.7%;
}

.big-container-text {
	max-width: 80%;
}

.reason-title {
	max-width: 151px;
	margin: 0 auto;
	margin-bottom: 26px;
	font-size: 21px;
}

.reason-text,
.reason-number {
	font-weight: 400;
	color: #333333;
	margin: 0;
}

.reason-number {
	position: relative;
	display: block;	
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 50px;
}

.reason-number::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	width: 8px;
	height: 2px;
	background-color: #333333;
}

.reason-number::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 0;
	width: 8px;
	height: 2px;
	background-color: #333333;
}

.reason-item-blue {
	display: block;
	-ms-flex-preferred-size: 33.3%;
	    flex-basis: 33.3%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	color: #ffffff;
	background-color: #81b3d2;
}

.reason-item-blue .reason-text,
.reason-item-blue .reason-number {
	color: #ffffff;
}

.reason-item-blue .reason-number::before,
.reason-item-blue .reason-number::after {
	background-color: #ffffff;
}

.photo {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 256px;
	top: 128px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.reason-photo {
	position: relative;
	max-height: 256px;
	-ms-flex-preferred-size: 66.6%;
	    flex-basis: 66.6%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	overflow: hidden;
}

.advice-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0;
	margin: 0;
	padding-top: 56px;
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 330px;
	list-style: none;
}

.advice-item {
	position: relative;
	-ms-flex-preferred-size: 33%;
	    flex-basis: 33%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding-top: 58px;
}

.advice-item:first-child {
	background: url("../img/icon-accommodation.svg") 50% 4px no-repeat;
}

.advice-item:nth-child(2) {
	background: url("../img/icon-food.svg") 49.5% 5px no-repeat;
}

.advice-item:last-child {
	background: url("../img/icon-souvenirs.svg") 50% 0 no-repeat;
}

.last-reasons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
	padding: 0;
	margin: 0;
	background-color: #eeeeee;
	z-index: 4;
	min-height: 256px;
	list-style: none;
}

.last-reasons-item {
	-ms-flex-preferred-size: 33%;
	    flex-basis: 33%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.search-container {
	position: relative;
	z-index: 4;
	margin: 0 auto 46px;
	max-width: 450px;
	padding-top: 51px;
}

.search {
	position: relative;
	z-index: 10; 
	background-color: #ffffff;
}

.search-title {
	margin: 0 auto;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
}

.search-text {
	margin: 0 auto;
	font-weight: 400;
	line-height: 24px;
	color: #333333;
}

.button-search {
	position: relative;
	z-index: 4;
	padding: 29px 139px 31px;
	max-width: 570px;
	background-color: #766357;
	border: none;
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: middle;
	cursor: pointer;
}

.button-search:hover,
.button-search:focus {
	background-color: #604e43;
}

.button-search:active {
	background-color: #503e33;
	color: rgba(225, 225, 225, 0.3);
}

.search-form {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: absolute;
	min-width: 568px;
	padding: 55px 55px 54px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	z-index: 2;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: #ffffff;
	line-height: 26px;
	-webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
	        box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form p {
	margin: 0;
	margin-bottom: 30px;
}

.search-form .search-date {
	margin-bottom: 30px;
}

.search-date label {
	margin-right: auto;
}

.search-form input {
	font: inherit;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	cursor: pointer;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.search-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
}

.search-date input {
	width: 346px; 
	height: 38px; 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;
	padding: 0;
	margin: 0;
	padding-left: 12px; 
	cursor: pointer;
} 

.search-date input::-ms-clear {
	display: none;
}

.search-calendar {
	position: absolute;
	top: 7px;
	right: 9px;
	padding: 0;
	background-color: transparent;
	border: none;
	font: inherit;
	cursor: pointer;
}

.search-calendar:hover path,
.search-calendar:focus path {
	fill: #000000;
}

.search-calendar:active path {
	fill: #81b3d2;
}

.button-container input {
	max-width: 38px;
	max-height: 38px; 
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
} 

.number-btn {
	width: 38px; 
	height: 38px; 
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
	font: inherit;
	font-size: 26px;
	color: #a9a9a9;
	border: none;
	cursor: pointer;
}

.number-btn:hover,
.number-btn:focus	{
	color: #000000;
}

.number-btn:active	{
	color: #81b3d2;
}

.number-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.search-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-number:first-child .button-container {
	margin-left: 40px;
}

.search-number:last-child label {
	margin-right: 27px;
}

.search-button {
	padding: 15px 195px 18px;
	margin-top: 23px;
	background-color: #81b3d2;
	border: none;
	font: inherit;
	font-size: 21px;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: middle;
	cursor: pointer;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map p {
	padding: 0; 
	margin: 0;
	max-height: 594px;
	overflow: hidden;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: 35px 0 36px;
	margin-bottom: 0;
	background-color: rgba(254, 254, 254, 0.9);
}

.main-footer {
	padding: 36px 0;
	position: absolute;
	bottom: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	z-index: 2;
}

.footer-hashtag {
	-ms-flex-preferred-size: 33.3%;
	    flex-basis: 33.3%;
	margin: 0;
	padding: 0;
	margin-top: 9px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	vertical-align: bottom;
}

.footer-social	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-preferred-size: 33.3%;
	    flex-basis: 33.3%;
	margin-left: 6px;
}

.social-button a {
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
	font-size: 0;
	font-weight: 400;
	color: #000000;
	cursor: pointer;
}

.social-button a:hover, 
.social-button a:focus {
	background-color: #669ec0; 
}

.social-button a:active {
	background-color: #5496bd;
}

.social-button a::before {
	content: "";
	position: absolute;
	width: 46px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center;
}

.social-button:first-child a::before {
	background-image: url("../img/icon-twitter.svg");
}

.social-button:nth-child(2) a::before {
	background-image: url("../img/icon-fb.svg");
}

.social-button:last-child a::before {
	background-image: url("../img/icon-youtube.svg");
}

.social-button a:active::before {
	opacity: 0.5;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-preferred-size: 33.3%;
	    flex-basis: 33.3%;
	padding-left: 6px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.footer-copyright p {
	margin: 0;
	padding: 11px 0 13px;
	font-weight: 400;
	line-height: 26px;

}

.copyright-link {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	margin: 0 5px 0 9px;
	cursor: pointer;
}

.copyright-link svg {	
	pointer-events: none;
}

.copyright-link:hover path,
.copyright-link:focus path {
	fill: #81b3d2;
}

.copyright-link:active path {
	fill: #bdbbbc;
}

/*inner*/

.main-inner {
	display: block;
	background-color: #fefefe;
}

.form {
	background-image: url("../img/bg-form.jpg");
	background-color: #44535b;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #ffffff;
}

.form ul,
.hotel-sorting ul,
.hotel-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 27px 6% 32px;
}

.filter-form fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.filter-form .second-column, 
.filter-form .first-column {
	-ms-flex-preferred-size: 210px;
	    flex-basis: 210px;
}

.filter-form .first-column {
	margin-right: 4.2%;
}

.last-column-form {
	margin-left: auto;
	-ms-flex-preferred-size: 30.2%;
	    flex-basis: 30.2%;
}

.filter-form legend {
	font-size: 16px;
}

.filter-item label {
	display: block;
	position: relative;
	padding-left: 40px;
	font-weight: 400;
	cursor: pointer;
}

.filter-checkbox:focus + label {
	max-width: 120px; 
	outline: 2px solid #81b3d2;
}

.filter-checkbox + label::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	left: 0;
	top: -1px;
	background-image: url("../img/icon-checkbox-off.svg");
	background-repeat: no-repeat;
	cursor: pointer;
}

.filter-checkbox:checked + label::before {
	background-image: url("../img/icon-checkbox-on.svg");
}

.filter-checkbox:disabled + label::before {
	background-image: url("../img/icon-checkbox-off-disable.svg");
}

.filter-checkbox:checked:disabled + label::before {
	background-image: url("../img/icon-checkbox-on-disable.svg");
}

.last-column-form legend {
	margin-bottom: 10px;
}

.filter-cost {
	position: relative;
	width: 100%;
	min-height: 36px;
	margin-bottom: 20px;
	padding-left: 20px;
	min-width: 220px;
	border: 2px solid white;
	border-radius: 2px;
	font-weight: 400;
}

.filter-cost::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: #ffffff;
}

.filter-cost td {
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}

.filter-cost label {
	padding-left: 15px;
	cursor: pointer;
}

.filter-cost input {
	margin: 0;
	padding: 0;
	width: 50px;
	background-color: transparent;
	border: none;
	text-align: left;
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

 .filter-range {
	position: relative;
	margin-bottom: 32px;
}

.filter-range .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.filter-range .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.filter-circle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.filter-circle-min {
	left: 0;
}

.filter-circle-max {
	left: 80%;
}

.filter-circle:hover {
	border: 9px solid #ffffff;
}

.filter-button {
	display: block;
	margin: 0 auto;
	position: relative;
	left: -5px;
	padding: 6px 34px;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
	color: black;
	background-color: white;
}

.filter-item {
	margin-top: 25px;
}

.sorting-item-sum, 
.sorting-list, 
.sorting-item, 
.hotel-name {
	padding: 0;
	margin: 0;
}

.hotel-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 29px 6% 32px;
	border-bottom: 1px solid #e5e5e5;
}

.sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	padding: 0;
	margin: 0;
}

.sorting-item-sum {
	font-size: 21px;
	line-height: 26px;
	margin-right: 14px;
}

.sorting-item {
	margin-right: 34px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.sorting-item:nth-child(2) {
	margin-right: 40px;
}

.hotel-sorting-link {
	border-bottom: 1px dotted #81b3d2;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.hotel-sorting-link-active {
	border-bottom: none;
	color: #81b3d2;
}

.hotel-sorting-link:hover,
.hotel-sorting-link:focus {
	color: #81b3d2;
}

.hotel-sorting-link:active {
	border-bottom: none;
	color: #000000;
}

.sort-icon-item {
	display: inline-block; 
	vertical-align: middle;
}

.sort-icon-item:first-child {
	margin-right: 20px; 
}

.sort-icon-down-link, 
.sort-icon-up-link {
	position: relative;
	font-size: 0;
}

.sort-icon-up-link::before	{
	content: "";
	position: absolute;
	border-bottom: 10px solid #cacaca;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	bottom: -5px;
	right: 0;
}

.sort-icon-down-link::before	{
	content: "";
	position: absolute;
	border-top: 10px solid #cacaca;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	bottom: -5px;
	right: 0;
}

.sort-icon-up-link:hover::before,
.sort-icon-up-link:focus::before {
	border-bottom: 10px solid #231f20;
}

.sort-icon-up-link:active::before {
	border-bottom: 10px solid #81b3d2;
}

.sort-icon-down-link:hover::before,
.sort-icon-down-link:focus::before {
	border-top: 10px solid #231f20;
}

.sort-icon-down-link:active::before {
	border-top: 10px solid #81b3d2;
}

.sort-icon-active::before {
	border-top: 10px solid #81b3d2;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.hotel-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 23px 6% 31px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-name {
	margin-bottom: 9px;
	max-width: 260px;
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: black;
}

a:hover .hotel-name,
a:focus .hotel-name {
	color: #81b3d2;
}

a:active .hotel-name {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	font-weight: 400;
}

.hotel-text {
	margin-left: 30px;
}

.hotel-about span {
	display: inline-block;
	min-width: 112px;
	max-width: 120px;
	word-wrap: break-word;
	vertical-align: bottom;
}

.hotel-about {
	margin-bottom: 14px;
}

.button-hotel {
	display: inline-block;
	padding: 3px 16px 3px;
	max-width: 150px;	
	font-weight: 700;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.button-hotel-more {
	margin-right: 4px;	
	background-color: #81b3d2;
}

.button-hotel-order {
	background-color: #766357;
}

.button-hotel-order:hover,
.button-hotel-order:focus {
	background-color: #604e43;
}

.button-hotel-order:active {
	background-color: #503e33;
	color: rgba(225, 225, 225, 0.3);
}

.button-hotel-more:hover,
.button-hotel-more:focus {
	background-color: #669ec0;
}

.button-hotel-more:active {
	background-color: #5496bd;
	color: rgba(225, 225, 225, 0.3);
}

.hotel-rating {
	display: block;
	padding: 3px 13px 3px 15px;
	margin: 0;
	background-color: #f2f2f2;
	font-weight: 400;
	color: #666666;
	vertical-align: middle;
	text-align: center;	
}

.hotel-rank {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.hotel-stars img {
	padding: 0;
	margin: 0;
	margin-left: 2px;
	margin-top: 4px;
}

/*js*/

.map-sedona {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 594px;
}

@-webkit-keyframes falling {
	0% {
		-webkit-transform: translate(-50%, -400px);
		        transform: translate(-50%, -400px);
	}
	80% {
		-webkit-transform: translate(-50%, 50px);
		        transform: translate(-50%, 50px);
	}
	100% {
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
}

@keyframes falling {
	0% {
		-webkit-transform: translate(-50%, -400px);
		        transform: translate(-50%, -400px);
	}
	80% {
		-webkit-transform: translate(-50%, 50px);
		        transform: translate(-50%, 50px);
	}
	100% {
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
}

.form-show {
	-webkit-animation: falling 1s;
	        animation: falling 1s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-51%);
		        transform: translateX(-51%);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(-49%);
		        transform: translateX(-49%);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-51%);
		        transform: translateX(-51%);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(-49%);
		        transform: translateX(-49%);
	}
}

.form-error {
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}